<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">  
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">   
<head>   
<title>Rainbow Get</title>   
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />   
<meta http-equiv="Content-Language" content="zh-CN" />   
<meta name="author" content="Realank" />   
<meta name="Copyright" content="Realank" />   
<meta name="description" content="Realank" />  
<!-- <meta http-equiv="refresh" content="10;url=http://realank.com" />   -->
<meta name="keywords" content="rainbow get"/>  
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />  
<meta name="viewport" content="width=device-width" />   
<link rel="stylesheet" href="#" type="text/css" media="handheld, all" />   
<style type="text/css" media="print, screen">  
/*<![CDATA[*/ 
    /* @import url("#"); */ 
/*]]>*/  
	body {
		background-color: #333333;
		color: #ffffff
	}
	h1 {
	  font-weight: bold;
	  color: #42b983;
	  font-family: 'Avenir', Helvetica, Arial, sans-serif;
	}

	h2 {
	  font-weight: normal;
	}

	table {
		width: 80%;
	}

	th {
	  font-size: 1.33333333em;
	  font-weight: normal;
	  font-family: 'Verdana';
	  
	}
	input, select, button {
        line-height: 30px;
	    color: #444444;
	    font-size: 0.8em;
	    background-color: #ddeeff;
	    border-radius: 5px;
	    margin-left: 20px;
	}

	button {
	width: 7em;
	border-radius: 16px;
	/*padding: .48em .8em;*/
/*	text-shadow: rgba(0,0,0,.5) 0px -1px 0px;*/
	color: #333333;
	font-size: 0.8em;
	background-color: #42b983;
}

</style>   
<link rel="stylesheet" href="/2008/site/css/print" type="text/css" media="print" />   
<link rel="shortcut icon" href="#.ico" type="image/x-icon" />   
<script src="./bower_components/vue/dist/vue.js"></script> 
<script src="./bower_components/vue-resource/dist/vue-resource.js "></script> 


</head>  
<body> 
	
<h1>Rainbow Get</h1> 


<div id="showClasses">
	<h2>こんにちは
	<select v-model="selectedClassName" v-on:change="selectClass()">
		<option v-for="{ClassID,ClassName} in classes">{{ClassName}}</option>
	</select>
	</h2>

</div>

<div id="showWords">

	<table>
		<tr style="color:#aaaaaa;">
			<th>日语</th>

			<th>假名</th>

			<th>汉语</th>

			<th>类型</th>

			<th></th>

			<th>是否平假名</th>

			<th>音调</th>
			
		</tr>
		<tr v-for="word in words">
			<th>{{word.japanese}}</th>
			
			<th>{{word.kana}} </th>
			
			<th>{{word.chinese}} </th>
			
			<th>{{word.type1}} </th>

			<th><div v-if="word.tone1>=0">{{word.type2}} </div></th>
			
			<th>{{word.ishiragana}} </th>
			
			<th><div v-if="word.tone1>=0">{{word.tone1}} </div></th>
			
			<th><div v-if="word.tone2>=0">{{word.tone2}} </div></th>
		</tr>
	</table>
</div>

<div id="postWords">
	<h1>{{ title }}</h1> 
	<table>
		<tr>
			<th>日语</th>
			
			<th>假名</th>
			
			<th>汉语</th>
			
			<th>类型1</th>

			<th>类型2</th>
			
			<th style="min-width: 130px">是否平假名</th>
			
			<th>音调1</th>
			
			<th>音调2</th>
			
		</tr>
		<tr>
			<th><input v-model="japanese"></th>
			
			<th><input v-model="kana" v-on:change="kanaChanged()"></th>
			
			<th><input v-model="chinese"></th>
			
			<th>
			<select v-model="type1">
				<option></option>
				<option>名词</option>
				<option>数词</option>
				<option>代词</option>
				<option>副词</option>
				<option>形容词</option>
				<option>形容动词</option>
				<option>自五</option>
				<option>他五</option>
				<option>自一</option>
				<option>他一</option>
				<option>自サ</option>
				<option>他サ</option>
				<option>自カ</option>
				<option>寒暄语</option>
				<option>词组</option>
				<option>叹词</option>
				<option>接词</option>
				<option>专有名词</option>
				<option>连体词</option>
				<option>接尾</option>
				<option>接续</option>
			</select>
			</th>

			<th>
			<select v-model="type2">
				<option></option>
				<option>名词</option>
				<option>数词</option>
				<option>代词</option>
				<option>副词</option>
				<option>形容词</option>
				<option>形容动词</option>
				<option>自五</option>
				<option>他五</option>
				<option>自一</option>
				<option>他一</option>
				<option>自サ</option>
				<option>他サ</option>
				<option>自カ</option>
				<option>寒暄语</option>
				<option>词组</option>
				<option>叹词</option>
				<option>接词</option>
				<option>专有名词</option>
				<option>连体词</option>
				<option>接尾</option>
				<option>接续</option>
			</select>
			</th>
			
			<th><input v-model="ishiragana"  type="checkbox"></th>
			
			<th>
			<select v-model="tone1">
				<option v-for="num in toneToSelect">{{num}}</option>
			</select>
			</th>
			
			<th>
			<select v-model="tone2">
				<option v-for="num in toneToSelect">{{num}}</option>
			</select>
			</th>
			<th>
			<button value="upload" v-on:click="postWords()">上传</button>
			</th>
		</tr>
	</table>

</div>
<br>
<br>
<br>
<br>
<h2 align="center">Powered by Realank</h2>

<script type="text/javascript">  

var showWords = new Vue({
	el: '#showWords',
	data: {
		title: 'Rainbow Get',
		words: [],
		getUrl: 'https://leancloud.cn:443/1.1/classes/'
	},
	methods: {
		getWords: function(classID) {
			this.$http.get(this.getUrl +  classID + "?limit=10000&&order=createAt&&"
				,{headers: {"X-LC-Id": "kE5PXhVRVrRoKoDNMkdVE4c7-gzGzoHsz","X-LC-Key": "aGRwOxwVWSaBmrPT0xrsek1O"}}
				).then((response) => {
				// this.$set('gridData',response);
				this.words = response.body.results;
			}).catch(function(response) {
                console.log(response)
                // this.gridData = response
                this.words = response.body.results;
            })
		}
	},

})

var showClasses = new Vue({
	el: '#showClasses',
	data: {
		title: 'Classes',
		classes: [],
		selectedClassID: '',
		selectedClassName: '',
		getUrl: 'https://leancloud.cn:443/1.1/classes/ClassList?limit=10000'
	},
	methods: {
		getClasses: function() {
			this.$http.get(this.getUrl
				,{headers: {"X-LC-Id": "kE5PXhVRVrRoKoDNMkdVE4c7-gzGzoHsz","X-LC-Key": "aGRwOxwVWSaBmrPT0xrsek1O"}}
				).then((response) => {
				// this.$set('gridData',response);
				this.classes = response.body.results;
				this.selectedClassName = response.body.results[0].ClassName
				this.selectedClassID = response.body.results[0].ClassID
				this.selectClass()
			}).catch(function(response) {
                console.log(response)
                // this.gridData = response
            })
		},
		selectClass: function () {
			for (var i = 0; i < this.classes.length; i++) {
				if(this.classes[i].ClassName == this.selectedClassName){
					var selectedClassID = this.classes[i].ClassID
					this.selectedClassID = selectedClassID
					showWords.getWords(selectedClassID)
					return
				}
			}
		},
	},

})

showClasses.getClasses()






var postWords = new Vue({
	el: '#postWords',
	data: {
		title: "New words",
		japanese: "",
		kana: "",
		chinese: "",
		type1: "",
		type2: "",
		ishiragana: true,
		tone1: -1,
		tone2: -1,
		toneToSelect:[-1,0,1,2,3,4,5,6,7,8,9],
		postUrl: 'https://leancloud.cn:443/1.1/classes/'
	},
	methods: {
		postWords: function() {

			if (this.kana.length <= 0 || this.chinese.length <= 0 || this.type1.length <= 0 || this.tone1 < 0) {
				alert('Invalid word')
				return
			}
			this.$http.post(this.postUrl + showClasses.selectedClassID,
				{
					japanese: this.japanese,
					kana: this.kana,
					chinese: this.chinese,
					type1: this.type1,
					type2:this.type2,
					ishiragana: this.ishiragana,
					tone1: parseInt(this.tone1),
					tone2: parseInt(this.tone2),
				},
				{headers: {"X-LC-Id": "kE5PXhVRVrRoKoDNMkdVE4c7-gzGzoHsz","X-LC-Key": "aGRwOxwVWSaBmrPT0xrsek1O"},
				}
				).then((response) => {
					this.japanese = ""
					this.kana = ""
					this.chinese = ""
					this.type1 = ""
					this.type2 = ""
					// this.ishiragana = true
					this.tone1 = -1
					this.tone2 = -1
					showWords.getWords(showClasses.selectedClassID)
			}).catch(function(response) {
                console.log(response)
                alert("upload error")
            })
		},
		kanaChanged: function(){
		}
	},

})


</script>  
</body>  
</html> 